html {
    cursor: url('https://raw.githubusercontent.com/em-egan/GA-Final_Project/9d4ac453066aac16f6e582cc2341fc67bf440f28/1%20Cursor/cursor_normal.svg'), auto;

    scroll-behavior: smooth;
}


a{
    cursor: url('https://raw.githubusercontent.com/em-egan/GA-Final_Project/1eb127cc827b6e0130e3d0072d58649533f76e18/1%20Cursor/cursor_hover.svg'), auto; 
    text-decoration: none;
    width: 100%;

}

::selection {
    background: #fffb0ce1;
}

body{
    margin: 0;
}

.top-part{
    font-family: 'Inter';
    margin: 0px;
    display: flex;
    padding: 3.75rem 11% 6.25rem 11%;
    flex-direction: column;
    align-items: flex-start;
    gap: 12.5rem;
    display: flex;
}
  
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

nav a{
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
    text-decoration: none;
    color: #171515;
}

.topleft a{
    padding: 0;
}

.topright{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
}

.topright a{
    font-size: 1.375rem; 
    font-weight: 400;
}

.topright .hamburger-img {
    display: none;
}

#menu{
    background-color: #171515;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    overflow-y: scroll;
    padding: 15px 30px;
    position: fixed;
    transition: all 0.35s ease-in-out;
    transform: translateX(100%);
    z-index: 10;
}

#menu.toggle-open {
    transform: translateX(0%);
    opacity: 1;
}

#menu a, #menu a:focus, #menu a:visited {
    color:  #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 25px auto;
    text-decoration: none;
}

.menu-links {
    padding-top: 5rem;
    padding-right: 2%;
    width: auto;
}

#menu-close {
    position: absolute;
    top: 4%;
    right: 7%; 
}

#menu-close img{
    width: ;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    align-self: stretch;
}



.main-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem; 
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


h1{
    color: var(--Black, #171515);
    text-align: center;
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.025rem;
    width: 51.1875rem;
}

h2{
    color: #9D9D9D;
    font-family: Inter;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.375rem; /* 129.412% */
}

h3{
    color: var(--Text-Text-Secondary, #474747);
    text-align: center;
    font-family: Inter;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h4{
    color: var(--Black, #171515);
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h5{
    color: var(--Black, #171515);
    text-align: center;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem; /* 133.333% */
}

h6{
    color: #AFAFAF;
    text-align: center;
    font-family: Inter;
    font-size: 1.11363rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.10025rem;
    text-transform: uppercase;
}

.projects-sections{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    align-self: stretch;
}


.mainsection-title{
    display: flex;
    padding-bottom: var(--Spacing-Spacing-Lg, 1rem);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
    border-bottom: 1px solid #595959;
}

.cards-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.75rem;
    align-self: stretch;
}

.card-row{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    align-self: stretch;
    width: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Spacing-Spacing-Lg, 1rem);
    align-self: stretch;
    width: 100%;
}

.card-img1{
    background: url(https://github.com/em-egan/GA-Final_Project/blob/main/2%20Project%20images/1amex.png?raw=true);
}

.card-img2{
    background: url(https://github.com/em-egan/GA-Final_Project/blob/main/2%20Project%20images/2museum.png?raw=true)
}

.card-img3{
    background: url(https://github.com/em-egan/GA-Final_Project/blob/main/2%20Project%20images/3homgo.png?raw=true)
}

.card-img4{
    background: url(https://github.com/em-egan/GA-Final_Project/blob/main/2%20Project%20images/4wayfarer.png?raw=true)

}

.card-img5{
    background: url(<path-to-image>) lightgray -85.276px -52.845px / 164.095% 238.858% no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.card-img6{
    background: url(<path-to-image>) lightgray -85.276px -52.845px / 164.095% 238.858% no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.card-img1,.card-img2,.card-img3,.card-img4,.card-img5,.card-img6{
    height: 11.9375rem;
    align-self: stretch;
    border-radius: 0.25rem;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.card-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Spacing-Spacing-Xs, 0.25rem);
    align-self: stretch;
}

.card-button{
    display: flex;
    padding: var(--Spacing-Spacing-Sm, 0.5rem) 1.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 1.25rem;
    border: 1.4px solid #000;
    background: #FFF;
}

.content-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}



p{
    color: var(--BLACK, #171515);
    /* Body/Callout */
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem; /* 137.5% */
    align-self: stretch;
    margin-block-start: 0em;
    margin-block-end: 0em;
}


footer{
    display: flex;
    padding: 7.5rem 11%;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: #2B2727;
}


footer a{
    display: block;
    padding-left: 6px;
    padding-right: 6px;
    text-decoration: none;
    color: #ffffff;
}

.bottomright{
    display: flex;
    align-items: flex-start;
    gap: var(--Spacing-Spacing-2Xl, 2rem);   
}

.bottomright a{
    color: #FFF;
    font-family: Inter;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.br-mobile{
    display: none;
}

@media screen and (max-width: 1320px) {

    h1{
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.025rem;
        width: 43rem;
    }

    p{
        font-size: 0.9rem;
    }

    h4{
        font-size: 1.2rem;
    }

    .bottomright a{
        color: #FFF;
        font-family: Inter;
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .bottomright{
        gap: var(--Spacing-Spacing-2Xl, 1rem);   
    }

    .main-container{
        gap: var(--Spacing-Spacing-Sm, 0.5rem);
    }

    

}

@media screen and (max-width: 1080px) {

    .top-part{
        padding: 3.75rem 6% 6.25rem 6%;
    }

    footer{
        padding: 7.5rem 6%;
    }

    h1{
        font-size: 2rem;
        width: 43rem;
    }


}

@media screen and (max-width: 892px) {

    .br-mu, .br-homgo, .br-amex, .br-way, .br-on, .br-bookl{
        display: none;
    }

    h1{
        font-size: 1.8rem;
        width: 40rem;
    }

    h2{
        font-weight: 500;
    }

}

@media screen and (max-width: 740px) {
    .card-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5rem;
    align-self: stretch;
    }

    .topright .hamburger-img {
        display: inline-block;
    }
    .topright a{
        display: none;
    }
    .topleft img{
        width: 90%;
    }

    .bottomleft img{
        width: 80%;
    }

    h1{
        font-size: 1.6rem;
        width: 30rem;
    }

    .card-row{
    gap: 2rem;
    }

    .cards-section{
        gap: 2rem;
    }
    
    .card{
    gap: 0.6rem;
    }

    .projects-sections{
        gap: 1.6rem;
    }

    h3{
        font-size: 1.2rem;
    }
    
    .top-part{
        padding: 6% 6% 8% 6%;
        
    }

    footer{
        padding: 6rem 6%;
    }

}

@media screen and (max-width: 570px) {


    h1{
        font-size: 1.4rem;
        width: 26rem;
        font-weight: 600;
    }

    .top-part{
        gap: 8rem;
    }

    h3{
        font-size: 1.2rem;
    }

    .projects-sections{
        gap: 1.6rem;
    }

    h2{
        font-size: 0.9rem;
        font-weight: 500;
    }

    footer{
        padding: 4rem 6%;
    }

    .bottomright{
        display: flex;
        padding-right: 1rem;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--Spacing-Spacing-Xs, 0.25rem);
    }
    
    .bottomright a{
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }



}

@media screen and (max-width: 510px) {


.main-container{
    display: flex;
    gap: var(--Spacing-Spacing-Sm, 0.5rem);
}

.br-one{
    display: none;
}

.br-mobile{
    display: block !important;
}

.projects-sections{
    gap: 1.3rem;
}



}

@media screen and (max-width: 415px) {

    h1{
        font-size: 1.2rem;
        width: 22rem;
        font-weight: 600;
    }

    h2{
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.375rem; /* 129.412% */
    }

    .topleft img{
        width: 70%;
    }



}

@media screen and (max-width: 330px) {
    h1{
        font-size: 1rem;
        width: 18rem;
        font-weight: 600;
    }

    h2{
        font-size: 0.8rem;
    }

    .main-container{
        display: flex;
        gap: var(--Spacing-Spacing-Sm, 0.3rem);
    }

    .projects-sections{
        gap: 1rem;
    }

    h3{
        font-size: 1rem;
    }

    .top-part{
        gap: 5rem;
    }
}

